.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:20px ;
    

}
.profile_img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.hero img{
    margin-top: 50px;

}
.hero h1{
    text-align: center;
    width: 70%;
    font-size: 50px;
    font-weight: 500px;
}
.hero h1 span{
    background: linear-gradient(267deg, #DA7C25 0.36%,#B923E1 102.06%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.hero p{
    width: 50%;
    text-align: center;
    font-size: 25px;
    line-height: 40px;
}
.hero-action{
    display: flex;
    align-items: center;
    gap: 25px;
    font-weight: 500;
    margin-bottom: 50px;
}
.hero-connect{
    padding: 25px 45px;
    border-radius: 50px;
    background: linear-gradient(264deg, #DF8908 -5.09%,#B414FF 106.28%);
    cursor: pointer;
    transition: 0.5s;


}
.hero-connect:hover{
    border: 2px solid #fff;
}
.hero-resume:hover{
    border-color: #B415FF;

}
.hero-resume{
    padding: 25px 75px;
    border-radius: 50px;
    border: 2px solid #fff;
    cursor: pointer;
}